@import "../library/bootstrap/less/bootstrap.less";

.cap{
  text-transform:capitalize;
}
.upper{
  text-transform:uppercase;
}

nav.well{
  padding:2px;
  .nav{
    li{
      a{
        padding-top:8px;
        padding-bottom:8px;
        i{
          float:right;
        }
      }
    }
  }
}

select{
  .cap;
}

.alert ul{
  margin-bottom:0;
}

.account-group{
  .account-name{}
  .account-action{
    width:70px;
    text-align:right;
  }
}
