@import "../library/bootstrap/less/bootstrap.less";
@import "lib/bootstrap-datepicker/datepicker.less";
.cap{
  text-transform:capitalize;
}
.upper{
  text-transform:uppercase;
}

nav.well{
  padding:2px;
  .nav{
    li{
      a{
        padding-top:8px;
        padding-bottom:8px;
        i{
          float:right;
        }
      }
    }
  }
}

select{
  .cap;
}

.alert ul{
  margin-bottom:0;
}

.list-group{
  .name{}
  .action{
    width:70px;
    text-align:right;
  }
}

body{padding-top:60px;}
aside.affix{
  width:inherit;
}

.table{
  .acct{width:250px;}
  .cont{width:auto;}
  .credit{width:auto;}
  .debit{width:auto;}
  .des{width:auto;}
}

.modal-button-list{
  .span6:nth-child(odd){
    margin-left:0;
  }
  .btn{
    margin-bottom:15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1200px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 767px) {
  aside.affix{
    position:static;
  }
}
@media (max-width: 480px) {
  aside.affix{
    position:static;
  }
}
